<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">
        	<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		
		<title>Eat-Da-Burger!</title>
	</head>
	<body class="container salmon">
		{{{ body }}}
	</body>
	
	<!-- Note to self, maybe remove this later, I'm unsure if jquery will be needed -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
	<script type="text/javascript" src="public/assets/scripts/eventHandlers.js"></script>
</html>
