<div class="row">
    <div class="col-12">
        <img class="img-fluid mx-auto d-block" 
            src="/public/assets/img/burger.png">
        <h1 class="text-center">Eat-Da-Burger!</h1>
    </div>
</div>
<div class="row">
    <div id="notEatenSection" class="col-6">

    </div>
    <div id="eatenSection" class="col-6">
        
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1">{{ title }}</div>
    <form class="form-horizontal col-md-6 col-sm-8 col-xs-10" action="">
        <div class="form-group form-group-lg">
            <input type="text" class="form-control burgerInput" 
                id="burgerInput" required="">    
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-10">
        <p class="text-center">Enter a burger you want to eat then click the submit button.</p>
    </div>
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>
